{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "sessionStorage": true,
    "localStorage": true
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
